KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/drv/tty.o \
$(ARCHDIR)/sys/gdt.o \
$(ARCHDIR)/sys/ports.o \
$(ARCHDIR)/sys/pic.o \
$(ARCHDIR)/sys/gdt_flush.o \
$(ARCHDIR)/sys/isr.o \
$(ARCHDIR)/sys/interrupts.o \
$(ARCHDIR)/panic.o \
$(ARCHDIR)/sys/idt.o \
$(ARCHDIR)/drv/keyboard.o \
$(ARCHDIR)/drv/timer.o \
$(ARCHDIR)/drv/beeper.o \
$(ARCHDIR)/drv/fpu.o \
$(ARCHDIR)/shell.o \
$(ARCHDIR)/programs/test.o \
$(ARCHDIR)/programs/calculator.o \
$(ARCHDIR)/hal.o \

